<script type='module' src='/famous-trivia/file-list/FileList.mjs'></script>
<template id="file-list-template">
    <link rel="stylesheet" href="/famous-trivia/file-list/file-list.css">
    <div id="inner-list"></div>
    <img id="file-list-busy" class="hidden" src="/famous-trivia/assets/busy.gif"/>
    <div id="file-list-close" class="close">Close</div>
</template>

<script type='module' src='/famous-trivia/nidget-button/NidgetButton.mjs'></script>
<template id="nidget-button-template">
    <link rel="stylesheet" href="/famous-trivia/nidget-button/nidget-button.css">
    <div class="mask"></div>
    <div id="outer" class="button">
        <div id="text" class="text"></div>
    </div>
</template>