<template id="popup-panel-confirm-template">
    <link rel="stylesheet" href="popup_panel_confirm.css" />

    <div class="popup-outer">
        <div part="contents" id="popup-inner" class="popup-inner"></div>
        <div class="button-container">
            <nidget-button class="round popup-accept-button" id="popup-accept-button">ACCEPT</nidget-button>
            <nidget-button class="round popup-close-button" id="popup-close-button">CLOSE</nidget-button>
        </div>
    </div>
</template>
