<template id="set-score-dialog-template">
    <link rel="stylesheet" href="set-score-dialog.css">
    <div class="label">Set Score</div>
    <div class="label" id="name">Name</div>
    <text-input id="value"></text-input>
    <nidget-button id="accept" class="round center button">ACCEPT</nidget-button>
</template>