<template id="file-list">
    <link rel="stylesheet" href="file-list.css">
    <div id="inner-list"></div>
    <img id="file-list-busy" class="hidden" src="assets\images\busy.gif"/>
    <div id="file-list-close" class="close">Close</div>
</template>