<script type='module' src='/famous-trivia/nidget-button/NidgetButton.mjs'></script>
<template id="nidget-button-template">
    <link rel="stylesheet" href="/famous-trivia/nidget-button/nidget-button.css">
    <div class="mask"></div>
    <div id="outer" class="button">
        <div id="text" class="text"></div>
    </div>
</template><script type='module' src='/famous-trivia/question-pane/QuestionPane.mjs'></script>
<template id="question-pane-template">
    <link rel="stylesheet" href="/famous-trivia/question-pane/question-pane.css" />
    <div id="outer">
        <nidget-text class="text-contents" id="text-contents" contenteditable="true"></nidget-text>
    </div>
</template>
