<template id="question-pane-template">
    <link rel="stylesheet" href="/famous-trivia/question-pane/question-pane.css" />
    <div id="outer">
        <nidget-text class="text-contents" id="text-contents" contenteditable="true"></nidget-text>
    </div>
</template>
