<template id="menu-container-template">
    <link rel="stylesheet" href="/famous-trivia/menu/menu-container/menu-container.css">
    <img class="menu-icon" id="menu-icon" src=""/>
    <div class="menu-area hidden" id="outer">
    </div>    
</template>
