<template id="file-list-template">
    <link rel="stylesheet" href="/famous-trivia/file-list/file-list.css">
    <div id="inner-list"></div>
    <img id="file-list-busy" class="hidden" src="/famous-trivia/assets/busy.gif"/>
    <div id="file-list-close" class="close">Close</div>
</template>

