<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="google-signin-client_id" content="158823134681-98bgkangoltk636ukf8pofeis7pa7jbk.apps.googleusercontent.com">
        <link rel="stylesheet" href="/famous-trivia/host/host.css" />
        <script type="importmap">
            <%- include('../../../compiled/import_map.ejs'); %>
        </script>
    </head>
    <body class="container">
        <%- include('../../../compiled/famous-trivia/host/templates.ejs'); %>
        
        <script type="module" src="/famous-trivia/host/functions/renderButton.mjs"></script>
        <script type="text/javascript" src="https://apis.google.com/js/api.js" async defer></script>
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>        
        <script type="module" src="/famous-trivia/host/Host.mjs"></script>

        <div class="bg"></div>

        <input id="upload-anchor" class="hidden-anchor" type="file" />

        <div id="button-container" class="button-container">
            <nidget-button class="round disabled" id="b-create">Create</nidget-button>
            <nidget-button class="round disabled" id="b-upload">Upload</nidget-button>
            <nidget-button class="round disabled" id="b-edit">Edit</nidget-button>
            <nidget-button class="round disabled" id="b-launch">Launch</nidget-button>
            <nidget-button class="round disabled" id="b-delete">Delete</nidget-button>
            <div id="sign-in"></div>
            <div id="sign-out" class="hidden">sign out</div>
        </div>

        <file-list class="hidden"></file-list>
    </body>
</html>
