<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-signin-client_id" content="158823134681-98bgkangoltk636ukf8pofeis7pa7jbk.apps.googleusercontent.com">
    <link rel="stylesheet" href="/famous-trivia/host/host.css">
    <script type="importmap">
        <% if (typeof prebuild === "undefined" || !prebuild) { %>
        <%- include('../../../compiled/import_map.ejs'); %>
        <% } %>
    </script>
</head>
<body>
    <script type="module" src="/famous-trivia/host/Host.mjs"></script>
    <% if (typeof prebuild === "undefined" || !prebuild) { %>
    <%- include('../../../compiled/famous-trivia/host/templates.ejs');  %>
    <% } %>
    <%- include('./body.ejs'); %>
</body>
</html>

