<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="google-signin-client_id" content="158823134681-98bgkangoltk636ukf8pofeis7pa7jbk.apps.googleusercontent.com">
        <link rel="stylesheet" href="/famous-trivia/host/host.css" />
        <script type="importmap">
            <%- include('../../../compiled/import_map.ejs'); %>
        </script>
    </head>
    <body class="container">
        <%- include('../../../compiled/famous-trivia/host/templates.ejs'); %>

    </body>
</html>
