<script type='module' src='/famous-trivia/nidget-button/NidgetButton.mjs'></script>
<template id="nidget-button-template">
    <link rel="stylesheet" href="/famous-trivia/nidget-button/nidget-button.css">
    <div class="mask"></div>
    <div id="outer" class="button">
        <div id="text" class="text"></div>
    </div>
</template>